<template>
  <div>
    <Alert v-bind="{alert}"/>
    <div class="jumbotron d-flex align-items-center">
      <div class="container">
        <div class="col-md-4 offset-md-4">
          <form v-on:submit.prevent="submitVerificationCode">
            <div class="form-group">
              <validation-provider rules="required|min:6|max:6" v-slot="{ errors }">
                <input class="form-control" v-model="form.input.verification_code" name="verification_code" type="text" minlength="6" maxlength="6" placeholder="Verification Code" aria-required="true" v-bind:class="{'is-invalid': errors[0]}" required>
                <span class="invalid-feedback" v-show="errors[0]"><b>{{ errors[0] }}</b></span>
              </validation-provider>
            </div>
            <div class="form-group">
              <input class="form-control" v-model="form.input.email" name="email" type="hidden" aria-required="true" required>
            </div>
            <button type="submit" class="btn btn-primary" v-bind:class="{'hvr-wobble-horizontal': errors[0]}" v-bind:disabled="errors[0]">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from '@/components/Alert.vue'
import { ValidationProvider, extend } from 'vee-validate'
import { min, max, required } from 'vee-validate/dist/rules'

extend('min', min)
extend('max', max)
extend('required', required)

var params = new URLSearchParams(location.search)

export default {
  name: 'Verify',
  components: {
    Alert,
    ValidationProvider
  },
  data () {
    return {
      alert: {
        isVisible: false,
        alertType: 'alert-danger',
        exclamation: 'Upps!',
        message: 'Something went wrong'
      },
      errors: [],
      form: {
        input: {
          email: params.get('email'),
          verification_code: params.get('code')
        }
      }
    }
  },
  methods: {
    submitVerificationCode: function () {
      const ctx = this
      this.axios.post('/api/v1/user/verify', {
        email: this.form.input.email,
        verification_code: this.form.input.verification_code
      }).then(function (response) {
        ctx.showAlert('alert-success', 'Success', 'Congratulations. You have been verified.')
      }).catch(function (response) {
        ctx.showAlert('alert-danger', 'Upps!', response.response.data.errors[0])
      })
    },
    showAlert: function (type = 'alert-danger', exclamation = 'Upps!', message = '') {
      this.alert.alertType = type
      this.alert.isVisible = true
      this.alert.message = message
      this.alert.exclamation = exclamation
    }
  }
}
</script>

<style scoped lang="sass">
@import "@/assets/sass/_variables"

.btn-primary
  color: $white
  background-color: $monza
  border-color: $dark_gray

.form-control:focus
  color: #495057
  background-color: $white
  border-color: #e89695
  outline: 0
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
  box-shadow: 0 0 0 0.2rem rgb(239, 209, 209)

.invalid-feedback
  color: $blood_orange

.form-control.is-invalid, .form-control.is-invalid:active, .form-control.is-invalid:focus, .form-control.is-invalid:hover, .form-control.is-invalid:visited
  background-color: $yorange
</style>
