<template>
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <router-link to="/" class="nav-link hvr-icon-grow" title="Home"><i class="fa fa-home hvr-icon"></i> Home</router-link>
      </li>

      <li id="navServices" class="nav-item dropdown active">
      <!-- <li class="nav-item dropdown active" v-if="store.state.user.loggedIn"> -->
        <a class="nav-link dropdown-toggle hvr-icon-grow" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-server hvr-icon"></i> Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/services/resfinder/v3">Resfinder v3</a>
        </div>
      </li>

      <li class="nav-item active">
        <a href="/admin/login" class="nav-link hvr-icon-grow" title="Admin"><i class="fa fa-user-secret hvr-icon"></i> Admin</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <a v-on:click="renderSignInForm()" href="#" class="nav-link dropdown-toggle active hvr-icon-grow" data-toggle="dropdown" title="User"><i class="fa fa-user hvr-icon"></i> {{ store.state.user.data.email ? store.state.user.data.email : 'User' }}</a>
      <ul class="dropdown-menu form-wrapper">

        <!-- User NOT logged in Start -->
        <li v-if="!store.state.user.loggedIn" class="nav-item dropdown">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">{{ form.submit_text.replace("Reset", "Recover") }}</h3>

              <Alert v-bind="{alert}"/>

              <form id="userNotLoggedInForm" class="form" role="form" v-on:submit.prevent="submitUserSignInForm" accept-charset="UTF-8">

                <div class="form-group" v-show="form.flag.email">
                  <validation-provider rules="required|email" v-slot="{ errors }">
                    <label for="">Email</label>
                    <input v-model.trim="form.input.email" name="email" class="form-control" v-bind:class="{'is-invalid': errors[0]}" type="email" placeholder="Email" aria-required="true" required>
                    <span v-show="errors[0]" class="invalid-feedback"><b>{{ errors[0] }}</b></span><br>
                  </validation-provider>
                </div>

                <ValidationObserver>
                  <div class="form-group" v-if="form.flag.password">
                    <validation-provider rules="required|min:6|max:16" v-slot="{ errors }">
                      <label for="">Password</label>
                      <input v-model.trim="form.input.password" minlength="6" maxlength="16" type="password" class="form-control" v-bind:class="{'is-invalid': errors[0]}" placeholder="Password" ref="password" aria-required="true" required>
                      <span v-show="errors[0]" class="invalid-feedback"><b>{{ errors[0] }}</b></span>
                    </validation-provider>
                  </div>
                  <div class="form-group" v-if="form.flag.password_confirm">
                    <validation-provider rules="required|min:6|max:16|confirmed:password" v-slot="{ errors }" vid="password">
                      <label for="">Password Confirm</label>
                      <input v-model.trim="form.input.password_confirm" minlength="6" maxlength="16" type="password" class="form-control" v-bind:class="{'is-invalid': errors[0]}" placeholder="Password Confirm" aria-required="true" required>
                      <span v-show="errors[0]" class="invalid-feedback"><b>{{ errors[0] }}</b></span>
                    </validation-provider>
                  </div>
                </ValidationObserver>
                <div class="form-group">
                  <button v-show="form.submit_text.includes('Sign In')" type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': (!form.input.email || errors[0]) || (!form.input.password || errors[0]) }" v-bind:disabled="(!form.input.email || errors[0]) || (!form.input.password || errors[0])">{{ form.submit_text }}</button>
                  <button v-show="form.submit_text.includes('Sign Up')" type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': (!form.input.email || errors[0]) || (!form.input.password || errors[0]) || (!form.input.password_confirm || errors[0]) }" v-bind:disabled="(!form.input.email || errors[0]) || (!form.input.password || errors[0]) || (!form.input.password_confirm || errors[0])">{{ form.submit_text }}</button>
                  <button v-show="form.submit_text.includes('Reset Password')" type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': !form.input.email || errors[0] }" v-bind:disabled="!form.input.email || errors[0]">{{ form.submit_text }}</button>
                </div>
              </form>
              <div class="row">
                <div class="col-sm-3">
                  <div class="help-block text-left"><a v-on:click.stop.prevent="renderRegistrationForm()" href="#" title="Sign Up">Sign Up</a></div>
                </div>
                <div class="col-sm-4">
                  <div class="help-block text-center"><a v-show="form.flag.sign_in" v-on:click.stop.prevent="renderSignInForm()" href="#" title="Sign In">Sign In</a></div>
                </div>
                <div class="col-sm-5">
                  <div class="help-block text-right"><a v-on:click.stop.prevent="renderResetPasswordForm()" href="#" title="Reset Password">Reset Password</a></div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <!-- User NOT logged in End -->

        <!-- User LOGGED IN Start -->
        <li v-if="store.state.user.loggedIn" class="nav-item dropdown">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Update Settings</h3>

              <Alert v-bind="{alert}"/>

              <form id="userLoggedInForm" class="form" role="form" v-on:submit.prevent="submitUserUpdateForm()" accept-charset="UTF-8">
                <div class="form-group">
                  <validation-provider rules="email" v-slot="{ errors }">
                    <label for="">Email</label>
                    <input v-model.trim="form.input.email" name="email" class="form-control" v-bind:class="{'is-invalid': errors[0]}" type="email" v-bind:placeholder="store.state.user.data.email">
                    <span v-show="errors[0]" class="invalid-feedback"><b>{{ errors[0] }}</b></span><br>
                  </validation-provider>
                </div>
                <ValidationObserver>
                  <div class="form-group">
                    <validation-provider rules="min:6|max:16" v-slot="{ errors }" vid="password">
                      <label for="">Password</label>
                      <input v-model.trim="form.input.password" minlength="6" maxlength="16" type="password" class="form-control" v-bind:class="{'is-invalid': errors[0]}" placeholder="New Password"
                        ref="password">
                      <span v-show="errors[0]" class="invalid-feedback"><b>{{ errors[0] }}</b></span>
                    </validation-provider>
                  </div>
                  <div class="form-group">
                    <validation-provider rules="min:6|max:16|confirmed:password" v-slot="{ errors }">
                      <label for="">Password Confirm</label>
                      <input v-model.trim="form.input.password_confirm" minlength="6" maxlength="16" type="password" class="form-control" v-bind:class="{'is-invalid': errors[0]}" placeholder="New Password Confirm">
                      <span v-show="errors[0]" class="invalid-feedback"><b>{{ errors[0] }}</b></span>
                    </validation-provider>
                  </div>
                </ValidationObserver>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block" v-bind:class="{'hvr-wobble-horizontal': !form.flag.submit}" v-bind:disabled="!form.flag.submit">Update</button>
                </div>
              </form>

              <div class="row">
                <div class="col-sm-6">
                  <div class="help-block text-left"><a v-on:click.stop.prevent href="#" title="Update Credentials">Settings</a></div>
                </div>
                <div class="col-sm-6">
                  <div class="help-block text-right"><a v-on:click.stop.prevent="signOut()" href="#" title="Sign Out">Sing Out</a></div>
                </div>
              </div>

            </div>
          </div>
        </li>
        <!-- User LOGGED IN End -->
      </ul>
    </ul>
  </div>
</nav>
</template>

<script>
import $ from 'jquery'
import Alert from '@/components/Alert.vue'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { min, max, email, confirmed, required } from 'vee-validate/dist/rules'
import store from '@/store'
import Regex from '@/utilities/regex.js'

extend('min', min)
extend('max', max)
extend('email', email)
extend('confirmed', confirmed)
extend('required', required)

export default {
  name: 'Navbar',
  components: {
    Alert,
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      store: store,
      errors: [],
      alert: {
        isVisible: false,
        alertType: 'alert-danger',
        exclamation: 'Upps!',
        message: 'Something went wrong'
      },
      form: {
        input: {
          email: '',
          password: '',
          password_confirm: '',
          accept_tnc: true
        },
        flag: {
          email: true,
          password: true,
          password_confirm: true,
          sign_in: false,
          submit: false
        },
        alertType: 'alert-success',
        submit_text: 'Sign In',
        submit_msg: ''
      }
    }
  },
  watch: {
    'form.input.email': function () {
      this.form.flag.submit = Regex.isValidEmail(this.form.input.email)
    },
    'form.input.password': function () {
      this.form.flag.submit = false
      if (this.form.input.password.length >= 5 && this.form.input.password_confirm.length >= 5) {
        this.form.flag.submit = (this.form.input.password === this.form.input.password_confirm)
      }

      var noInputAndValidEmail = ((this.form.input.password.length === 0 && this.form.input.password_confirm.length === 0) && this.form.input.email)
      if (noInputAndValidEmail) {
        this.form.flag.submit = Regex.isValidEmail(this.form.input.email)
      }
    },
    'form.input.password_confirm': function () {
      this.form.flag.submit = false
      if (this.form.input.password.length >= 5 && this.form.input.password_confirm.length >= 5) {
        this.form.flag.submit = (this.form.input.password === this.form.input.password_confirm)
      }

      var noInputAndValidEmail = ((this.form.input.password.length === 0 && this.form.input.password_confirm.length === 0) && this.form.input.email)
      if (noInputAndValidEmail) {
        this.form.flag.submit = Regex.isValidEmail(this.form.input.email)
      }
    }
  },
  methods: {
    showAlert: function (type = 'alert-danger', exclamation = 'Upps!', message = '') {
      this.alert.alertType = type
      this.alert.isVisible = true
      this.alert.message = message
      this.alert.exclamation = exclamation
    },
    hideAlert: function (alertType = 'alert-success') {
      this.alert.isVisible = true
    },
    renderRegistrationForm: function () {
      this.form.flag.sign_in = true
      this.form.flag.password = true
      this.form.flag.password_confirm = true
      this.form.submit_text = 'Sign Up'
    },
    renderSignInForm: function () {
      this.form.flag.sign_in = false
      this.form.flag.email = true
      this.form.flag.password = true
      this.form.flag.password_confirm = false
      this.form.submit_text = 'Sign In'
    },
    renderResetPasswordForm: function () {
      this.form.flag.sign_in = true
      this.form.flag.email = true
      this.form.flag.password = false
      this.form.flag.password_confirm = false
      this.form.submit_text = 'Reset Password'
    },
    signOut: function () {
      const ctx = this
      this.axios.delete('/api/v1/auth/logout').then(function (response) {
        ctx.showAlert('alert-success', 'Success', 'You are signed out!')
        ctx.store.commit('setAccessToken', '')
        ctx.store.commit('setUserLoggedInFlag', false)
        window.location.reload()
      }).catch(function () {
        window.location.reload()
      })
    },
    submitUserUpdateForm: function () {
      var data = {}
      const ctx = this

      var updateEmail = (this.form.input.email && (!this.form.input.password && !this.form.input.password_confirm))
      if (updateEmail) {
        data = {
          email: this.form.input.email
        }
      }

      var updatePassword = (!this.form.input.email && (this.form.input.password && this.form.input.password_confirm))
      if (updatePassword) {
        data = {
          password: this.form.input.password,
          password_confirm: this.form.input.password_confirm
        }
      }

      var updateEmailAndPassword = (this.form.input.password && this.form.input.password_confirm && this.form.input.email)
      if (updateEmailAndPassword) {
        data = {
          email: this.form.input.email,
          password: this.form.input.password,
          password_confirm: this.form.input.password_confirm
        }
      }

      this.axios.patch('/api/v1/user/update', data)
        .then(function (response) {
          ctx.showAlert('alert-success', 'Success!', 'Update succeeded. Reloading page!')
          this.signOut()
        }).catch(function (response) {
          if (response.response.data.errors.email) {
            ctx.errors.push({
              id: 'email',
              field: 'email',
              msg: response.response.data.errors.email[0]
            })
            $('.navbar-nav.ml-auto form input[type="email"]').attr('aria-invalid', true)
            $('.navbar-nav.ml-auto form input[type="email"]').addClass('is-invalid')
          }
          if (response.response.data.errors.password) {
            ctx.errors.push({
              id: 'password',
              field: 'password',
              msg: response.response.data.errors.password[0]
            })
            $('.navbar-nav.ml-auto form input[type="email"]').attr('aria-invalid', true)
            $('.navbar-nav.ml-auto form input[type="email"]').addClass('is-invalid')
          }
        })
    },
    submitUserSignInForm: function () {
      const ctx = this
      if (this.form.submit_text === 'Sign In') {
        this.axios.post('/api/v1/auth/login', {
          email: this.form.input.email,
          password: this.form.input.password
        }).then(function (response) {
          ctx.showAlert('alert-success', 'Success!', 'You are logged in!')
          ctx.store.commit('setUserLoggedInFlag')
          window.location.reload()
        }).catch(function (response) {
          if (response.response.data.errors.email) {
            ctx.errors.push({
              id: 'email',
              field: 'email',
              msg: response.response.data.errors.email[0]
            })
            $('.navbar-nav.ml-auto form input[type="email"]').attr('aria-invalid', true)
            $('.navbar-nav.ml-auto form input[type="email"]').addClass('is-invalid')
          }
          if (response.response.data.errors.password) {
            ctx.errors.push({
              id: 'password',
              field: 'password',
              msg: response.response.data.errors.password[0]
            })
            $('.navbar-nav.ml-auto form input[type="password"]').attr('aria-invalid', true)
            $('.navbar-nav.ml-auto form input[type="password"]').addClass('is-invalid')
          }
          if (!response.response.data.errors.email && !response.response.data.errors.password) {
            ctx.showAlert('alert-danger', 'Upps!', 'Sign In failed.')
          }
        })
      }
      if (this.form.submit_text === 'Sign Up') {
        this.axios.post('/api/v1/user/sign_up', {
          email: this.form.input.email,
          password: this.form.input.password,
          password_confirm: this.form.input.password_confirm,
          accept_tnc: this.form.input.accept_tnc
        }).then(function (response) {
          ctx.showAlert('alert-success', 'Success', 'You have been registered. Please check your email')
        }).catch(function (response) {
          ctx.hideAlert()
          if (response.response.data.errors.email) {
            ctx.errors.push({
              id: 'email',
              field: 'email',
              msg: response.response.data.errors.email[0]
            })
            ctx.showAlert('alert-danger', 'Upps!', response.response.data.errors.email[0])
          } else {
            ctx.showAlert('alert-danger', 'Upps!', 'Something went wrong during sign up.')
          }
        })
      }
      if (this.form.submit_text === 'Reset Password') {
        this.axios.post('/api/v1/user/reset_password', {
          email: this.form.input.email
        }).then(function (response) {
          ctx.showAlert('alert-success', 'Success', 'New password was sent to you. Please check your email.')
        }).catch(function (response) {
          ctx.hideAlert()
          if (response.response.data.errors.email) {
            ctx.errors.push({
              id: 'email',
              field: 'email',
              msg: response.response.data.errors.email[0]
            })
            ctx.showAlert('alert-danger', 'Upps!', response.response.data.errors.email[0])
          } else {
            ctx.showAlert('alert-danger', 'Upps!', 'Something went wrong while resetting password.')
          }
        })
      }
    }
  }
}
</script>

<style lang="sass" scoped>
@import "@/assets/sass/_variables"

a
  color: $monza
  text-decoration: none
  background-color: transparent

a:hover
  color: $red
  text-decoration: none
  background-color: transparent

.bg-dark
  background-color: $monza!important

.dropdown-menu.form-wrapper
  width: 340px
  padding: 20px
  left: auto
  right: 0
  font-size: 14px
  background-color: $white-gray

.form-control.is-invalid, .form-control.is-invalid:active, .form-control.is-invalid:focus, .form-control.is-invalid:hover, .form-control.is-invalid:visited
  background-color: $yorange

.btn-primary:disabled
  color: $white
  background-color: $gray
  border-color: $dark_gray

@media (max-width: 992px)
  .btn-primary:disabled
    color: $black
    background-color: $light_gray
    border-color: $dark_white

  .navbar-nav.ml-auto h3
    color: $white

  .navbar-nav a, .navbar-nav a:hover
    color: $white

  #navServices > div > a
    color: $monza

  .form-group label
    color: $white

  .form-group > .invalid-feedback
    color: $white
    font-size: 90%

  .dropdown-menu.form-wrapper
    width: 100%
    padding: 10px 15px
    background: transparent
    border: none
</style>
