<template>
  <div id="app">
    <Navbar/>
    <router-view/>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
$fa-font-path: "~font-awesome/fonts";
@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "hover.css/scss/hover";
</style>
